.menuContainer {
  display: flex;
  justify-content: center;
}

.link {
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: #fff;
}

.linkActive {
  composes: link;
  font-weight: 800;
  background-color: #736be6;
  border-radius: 8px;
}
