.header {
  background-color: #5046e5;
  color: #fff;
  padding: 8px 0;
  display: flex;
  align-items: center;
  padding: 5px 20px;
}

.userMenu {
  display: flex;
  justify-content: left;
}

.userNav {
  display: flex;
  justify-content: right;
}
