.menuWrapper {
  display: flex;
  gap: 5px;
}

.link {
  text-decoration: none;
  padding: 8px;
  font-weight: 600;
  color: #242424;
}

.link:hover {
  background-color: #5046e5;
  border-radius: 6px;
  color: #fff !important;
}

.linkActive {
  composes: link;
  background-color: #5046e5;
  border-radius: 6px;
  color: #fff;
}
