.list_item {
  display: flex;
  margin: 10px 0;
  gap: 8px;
  font-weight: 500;
  align-items: center;
}

.deleteBtn {
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  background-color: #5046e5;
  color: white;
  font-weight: 600;
}

.deleteBtn:hover {
  background-color: #2e275d;
}
