.form {
  width: 400px;
  margin: 0 auto;
  background-color: white;
  padding: 16px;
  border-radius: 8px;
}

.formControl {
  margin-bottom: 16px;
}

.icon {
  color: #a5b0c1 !important;
}

.registerBtn {
  background-color: #5046e5 !important;
  color: white !important;
}
